.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background-color: #835AFD;
  padding: 0 28px;
  color: #FFFFFF;
  cursor: pointer;
  border: 0;
  transition: filter 200ms;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background-color: #FFFFFF;
    border: 1px solid #835AFD;
    color: #835AFD;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  @media screen and (max-width: 720px) {

    font-size: 14px;
  }

}