.page__container {
  display: flex;
  align-items: stretch;
  
  height: 100vh;

  aside {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color:#835afd;
    color: #fff;

    padding: 100px 60px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 28px 'Nunito', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 18px;
      line-height: 32px;
      margin-top: 14px;
      color: #f8f8f8;
    }
  }

  main {
    flex: 8;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 20px;
  }

  .main__content {
    width: 100%;
    max-width: 320px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 12px;
        background-color: #FFFFFF;
        border: 1px solid #a8a8b3;
      }

      button {
        margin-top: 14px;
      }

      input, button {
        width: 100%;
      }
    }
  }

  .create__rom {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background-color: #EA4335;
    color: #FFFFFF;
    cursor: pointer;
    border: 0;
    transition: filter 200ms;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .main__separator {
    display: flex;
    align-items: center;

    font-size: 12px;
    color: #A8A8B3;
    margin: 26px 0;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background-color: #A8A8B3;
      margin-right: 12px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background-color: #A8A8B3;
      margin-left: 12px;
    }
  }
}