.page__container {
  display: flex;
  align-items: stretch;
  
  height: 100vh;

  aside {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color:#835afd;
    color: #fff;

    padding: 100px 60px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 28px 'Nunito', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 18px;
      line-height: 32px;
      margin-top: 14px;
      color: #f8f8f8;
    }
  }

  main {
    flex: 8;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 20px;
  }

  .main__content {
    position: relative;
    width: 100%;
    max-width: 320px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 12px;
        background-color: #FFFFFF;
        border: 1px solid #a8a8b3;
      }

      button {
        margin-top: 14px;
      }

      input, button {
        width: 100%;
      }
    }

    .have__room {
      margin-top: 20px;
      .userRomms__container {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #835AFD;
        height: 100%;
        padding: 20px 10px;
        gap: 30px;
        border-radius: 8px;
        clip-path: circle(4% at 85% 55%);
        transition: 700ms;
        overflow-y: scroll;
  
        display: flex;
        flex-direction: column;

        > h2 {
          color: #F8F8F8;
          font-weight: 700;
          font-family: 'Nunito', sans-serif;
        }
  
        > span {
          color: #F8F8F8;
          font-weight: 600;
          font-size: 14px;
  
          > button {
            padding: 8px 16px;
            font-size: 12px;
            color: #ffffff;
            font-family: 'Nunito', sans-serif;
            background-color: #37B03F;
            border: none;
            border-radius: 8px;
            margin-top: 5px;
            cursor: pointer;
            transition: filter 200ms ease-in-out;
  
            &:hover {
              filter: brightness(0.9);
            }
          }
  
        }

        .rooms__info {
          position: absolute;
          right: 22px;
          top: 52%;
          transition: 700ms;
        }

        &:hover {
          clip-path: circle(100%);

          .rooms__info {
            opacity: 0;
          }
        }
      }

    }
  }

  .create__rom {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background-color: #EA4335;
    color: #FFFFFF;
    cursor: pointer;
    border: 0;
    transition: filter 200ms;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .main__separator {
    display: flex;
    align-items: center;

    font-size: 12px;
    color: #A8A8B3;
    margin: 26px 0;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background-color: #A8A8B3;
      margin-right: 12px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background-color: #A8A8B3;
      margin-left: 12px;
    }
  }
  @media screen and (max-width: 720px) {
    aside {
      display: none;
    }
  }
}
