.page__container {
  .page__header {
    padding: 20px;
    border-bottom: 1px solid #E2E2E2;

    // background-color: #fff;
    .room__header__content {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > img {
        max-height: 45px;
      }

      .room__header__action {
        display: flex;
        gap: 16px;
        
        button {
          height: 40px;
        }
      }
    }
  }
  
  .main__content {
    flex: none;
    max-width: 800px;
    margin: 0 auto;
  
    .room__title {
      margin: 32px 0 24px;
  
      display: flex;
      align-items: center;
  
      h1 {
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: #29292E;
      }
  
      span {
        margin-left: 16px;
        background-color: #E559F9;
        border-radius: 50px;
        padding: 6px 12px;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 14px;
      }
    }
  
    .question__list {
      padding: 50px 0;

      button {
        border: 0;
        background: transparent;
        cursor: pointer;
        transition: filter 200ms;
        
        &:hover {
          filter: brightness(0.5);
        }
      }
    }
  }

  .modal__container {
    background-color: #F8F8F8;
    padding: 0 40px;
    border-radius: 8px;

    .modal__header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      padding: 20px 0;

      img {
        width: 50px;
        height: 50px;
      }

      .modal__title {
        font-family: 'Nunito', sans-serif;
        color: #494952;
        font-size: 24px;
      }
    }

    .modal__content {
      padding: 50px 0;
      border-top: 1px solid #dbdada;
      border-bottom: 1px solid #dbdada;
      font-size: 14px;
      color: #737380;
    }
    
    .modal__footer {
      width: 100%;
      padding: 30px 0;

      display: flex;
      align-items: center;
      justify-content: space-around;

      button {
        padding: 8px 24px;
        border-radius: 8px;
        border: 0;
        font-weight: 500;
        font-size: 16px;
        font-family: 'Nunito', sans-serif;
        cursor: pointer;
        color: #FFFFFF;
        transition: filter 200ms;

        &.confirm {
          background-color: #1D9951;
        }

        &.cancel {
          background-color: #F29F05;
        }

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }
}
